[submodule "Submodules/XNode"]
	path = Submodules/XNode
	url = https://github.com/Siccity/xNode.git
[submodule "Submodules/GraphHelpers"]
	path = Submodules/GraphHelpers
	url = https://github.com/Arghonot/CustomGraphs.git
[submodule "Submodules/LibNoise.Unity"]
	path = Submodules/LibNoise.Unity
	url = https://github.com/ricardojmendez/LibNoise.Unity.git
